.custom-table th,
.custom-table td {
    padding: 4px 8px !important;
    /* reduce padding */
    border: 1px solid black !important;
    /* ensure border is black */
    vertical-align: middle;
}

/* 
.table thead th {
    vertical-align: middle;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.table td,
.table th {
    vertical-align: middle;
    padding: 10px 15px;
}

.custom-table td {
    background-color: #f9f9f9;
} */