.role-container {
    background-color: rgba(255, 255, 255, 0.9);
    /* Light background overlay */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.custom-table {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.custom-table thead {
    background-color: #343a40;
    color: white;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.custom-table td,
.custom-table th {
    vertical-align: middle;
}

.action-icon {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.action-icon:hover {
    transform: scale(1.2);
}